.projects {
  padding: 30px 30px 0 30px;
}

.projectsHead {
  width: 100%;
  height: 12vw;
  position: relative;
  border: 3px solid rgb(var(--foreground-rgb));
  background-color: rgb(var(--primary-bg));
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--foreground-rgb));
    z-index: -1;
  }
}

.caption {
  text-transform: uppercase;
  text-shadow: var(--text-shadow-lg);
  font-size: 3vw;
  font-family: var(--font-secondary);
  letter-spacing: 4px;
}

.wrapper {
  display: flex;
  min-height: calc(100vh - 300px);
}

.loader {
  margin: 0 auto;
  align-self: center;
  width: 50%;
  height: 10px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  background-color: var(--hover-color);
  padding: 2px;
}

.progress {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--primary-bg));
}

.projectsList {
  display: flex;
  width: 100%;
  margin-top: 60px;
  justify-content: space-between;
  gap: 30px;
}